Пункт 1.

In [87]:
import numpy as np

In [88]:
df=pd.read_csv(r'C:\Users\arina.borisova\Desktop\AD\2 семестр\DA_NEW-master\DA_NEW-master\Datasets\auto-mpg.csv',encoding="cp1251")

In [89]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [90]:
del df['cylinders']

In [91]:
df.head()

,mpg,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,302.0,140,3449,10.5,70,1,ford torino

In [92]:
del df['displacement']
del df['weight']
del df['acceleration']
del df['model year']
del df['car name']

In [93]:
df.head()

    mpg horsepower  origin
0  18.0        130       1
1  15.0        165       1
2  18.0        150       1
3  16.0        150       1
4  17.0        140       1

In [94]:
del df['horsepower']

In [95]:
df.head(20)

     mpg  origin
0   18.0       1
1   15.0       1
2   18.0       1
3   16.0       1
4   17.0       1
5   15.0       1
6   14.0       1
7   14.0       1
8   14.0       1
9   15.0       1
10  15.0       1
11  14.0       1
12  15.0       1
13  14.0       1
14  24.0       3
15  22.0       1
16  18.0       1
17  21.0       1
18  27.0       3
19  26.0       2

In [96]:
n1 = len(df[df['origin'] == 1])
n1

249

In [97]:
n2 = len(df[df['origin'] == 2])
n2

70

In [98]:
n3 = len(df[df['origin'] == 3])
n3

79

In [99]:
n = n1 + n2 + n3
n

398

In [100]:
k = 3

In [101]:
df1=df[df.origin==1]
y1_mean = df1['mpg'].mean()
print(y1_mean)

20.083534136546177

In [102]:
df2=df[df.origin==2]
y2_mean = df2['mpg'].mean()
print(y2_mean)

27.891428571428573

In [103]:
df3=df[df.origin==3] 
y3_mean = df3['mpg'].mean() 
print(y3_mean)

30.450632911392397

In [104]:
y_mean = df['mpg'].mean()
print(y_mean)

23.514572864321615

In [105]:
y1=df1['mpg']
y2=df2['mpg']
y3=df3['mpg']
y_all=df['mpg']

In [106]:
s2 = np.sum((y_all - y_mean)**2)
s2

24252.575477386934

In [107]:
s2_f = ((y1_mean - y_mean)**2) * n1 + ((y2_mean - y_mean)**2) * n2 + ((y3_mean - y_mean)**2) * n3
s2_f

8072.820661929813

In [108]:
s2_residual = np.sum((y1 - y1_mean)**2) + np.sum((y2 - y2_mean)**2) + np.sum((y3 - y3_mean)**2)
s2_residual

16179.754815457127

In [109]:
print(s2)
print(s2_f + s2_residual)

24252.575477386934
24252.57547738694

In [110]:
sigma2_general = s2 / (n - 1)
sigma2_general

61.08961077427439

In [111]:
sigma2_f = s2_f / (k - 1)
sigma2_f

4036.4103309649063

In [112]:
sigma2_residual = s2_residual / (n - k)
sigma2_residual

40.96140459609399

In [113]:
F_h = sigma2_f / sigma2_residual
F_h

98.54179491075878

Две степени свободы: k-1=3-1=2 n-k=398-3=395

Найдем значение F_крит в таблице критических точек распределения Фишера-Снедекора для заданного уровня значимости alpha = 0.05 и двух степеней свободы.

F_крит=2,99

Так как F_H > F_крит, отвергнута гипотеза Н0, существенная разница существует в милях среди транспортных средств различного происхождения.

Пункт 2.

In [114]:
import pandas
import seaborn as sns
from statsmodels.formula.api import ols

In [115]:
df=pd.read_csv(r'C:\Users\arina.borisova\Desktop\AD\2 семестр\DA_NEW-master\DA_NEW-master\Datasets\auto-mpg.csv',encoding="cp1251")

In [116]:
del df['cylinders']
del df['displacement']
del df['weight']
del df['acceleration']
del df['model year']
del df['car name']

In [117]:
model = ols('mpg ~ C(horsepower)*C(origin)', df).fit()
print(f"Overall model F({model.df_model: .0f},{model.df_resid: .0f}) = {model.fvalue: .3f}, p = {model.f_pvalue: .4f}")

Overall model F( 133, 264) =  12.122, p =  0.0000

Так как альфа > p, отвергнута гипотеза Н0, существенная разница существует в милях среди транспортных средств различного происхождения.

Задание 3.

1) две выборки - две разные клиники. в одной из них есть система электронной регистрации, а в другой – нет. независимая переменная - две разные клиники. зависимая переменная - среднее время, проведенное пациентом в ожидании приема. необходимо использовать однофакторный дисперсионный анализ.

2) две выборки - вес людей до диеты и после. был человек на диете или нет - независимая переменная, вес человека - зависимая переменная. необходимо использовать однофакторный дисперсионный анализ.

3) шесть выборок - три разные дозировки и два источника витамина(3*2). дозировка и источник витамина - независимые переменные. длина зубов - зависимая переменная. необходимо использовать многофакторный дисперсионный анализ.

4) четыре выборки - четыре типа регистра голоса. регистр - независимая переменная. рост - зависимая переменная. необходимо использовать однофакторный дисперсионный анализ.